<svg width="300" height="300">
<!-- <image width="80" height="80" xlink:href="http://upload.wikimedia.org/wikipedia/fr/c/c8/Twitter_Bird.svg"/> -->

    <circle cx="20" cy="200" r="3">
    </circle>

    <circle cx="120" cy="250" r="3">
    </circle>

    <circle cx="220" cy="100" r="3">
    </circle>


    <circle cx="120" cy="150" r="3">
    </circle>

    <line x1="20" y1="150" x2="250" y2="150" stroke="black"></line>

<!--     /<path d="M20 200 V 30 L 50 50" stroke="black" fill="transparent"/>
     -->
<!-- Point de controle: 50     -->
    <circle cx="70" cy="75" r="3" fill="blue"></circle>
     <path d="M20 200 Q 70 75 120 250" stroke="black" fill="transparent"/>

         <circle cx="70" cy="150" r="3"></circle>
     <path d="M20 200 Q 70 150 120 150 T 220 100" stroke="green" fill="transparent"/>

</svg>